.Main_chat
  .Main_chat__header
    .Mainchat__box
      .Main_chat__groupname
        test
      .Groupmember
        Memner:masa
    .Main_chat__groupedit
      = link_to "#", class:"edit" do
        Edit
