.Main_chat
  .Main_chat__header
    .Mainchat__box
      .Main_chat__groupname
        test
      .Groupmember
        Memner:masa
    .Main_chat__groupedit
      = link_to "#", class:"edit" do
        Edit
  .Main_chat__message
    .message__top
      .member__name
        masa
      .message__day
        2019/1120(Wed) 17:43:01    
    .message__text
      おはよう！
    .message__top
      .member__name
        masa
      .message__day
        2019/1120(Wed) 17:43:01    
    .message__text
      おはよう！
    .message__top
      .member__name
        masa
      .message__day
        2019/1120(Wed) 17:43:01    
    .message__text
      おはよう！
  .Main_chat__form
    .Form__content
      .Content__textbox
        .Form__text
          type a message
        .Form__image
          = link_to "image", class:"image" do
            %label(for="image")
              = icon('fas', 'image')
              %input(type="file")
    .Form__sendbox
      .Form__editbtn
        Send

    