.Side_bar {
  width: 300px;
  color: #ffffff;
}
.Side_bar__header{
  height: 100px;
  background-color: #253141;
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.Side_bar__headerbox {
  height: 20px;
  width: 260px;
  justify-content: space-between;
  display: flex;
}
.Side_bar__username {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.Side_bar__rightbox {
  width: 60px;
  display: flex;
  justify-content: flex-end;
}

.Side_bar__lefticon{
}

.newgroup{
  margin-right: 5px;
  color: #ffffff; 
}
.useredit{
  color: #ffffff;
}



